<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ManagementCertificateName" value="YOURCERTIFICATE.pfx" />
    <add key="ManagementCertificatePassword" value="YOURPASSWORD" />
    <add key="SubscriptionsIdentifier" value="YOURSUBSCRIPTION" />

    <add key="ServiceNameFilter" value="" />
    <add key="SlotFilter" value="production;staging" />
  </appSettings>
</configuration>
